.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

#name {
  width: 25%;
}

#hours {
  width: 25%;
}

#area {
  width: 25%;
}

.custom-collapse {
  margin-bottom: 20px;
}

.main {
  margin: 0 25vw;
  padding: 110px 0;
  opacity: 1;
  z-index: 1;
  /* background-image: url("https://s.inyourpocket.com/gallery/110280.jpg");
  background-size: "cover";
  height: 100vh;
  margin-top: -70px;
  background-repeat: no-repeat; */
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

h1::first-letter {
  font-size: 72px;
  font-weight: 400;
}

h2,
p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  /* top: 0; */
  z-index: 1000;
}

.content {
  position: absoulte;
  top: 300px;
  z-index: 90;
  overflow: hidden;
}


